body {
  margin-top: 50px;
  font-family: sans-serif;
  background: #f1f1f1;
}


.stars-outer {
  display: block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f06c \f06c \f06c \f06c \f06c";
  color: #444;
}



.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 1;
}

.stars-inner::before {
  content: "\f06c \f06c \f06c";
  color: #73b504;
}

.attribution {
  font-size: 50px;
  color: #444;
  text-decoration: none;
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: -1;
}
.attribution:hover {
  color: #1fa67a;
}

