* {
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: Metropolis;
    src: url(../fonts/Metropolis-Regular.ttf);
  }
  
  body {
    color: #0a090a;
    margin: auto;
    width: 300px;
    height: 505px;
    position: relative;
    font-family: 'Metropolis';
    padding: 20px;
    overflow: hidden;
  }
  
  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    border-radius: 60px;
    box-shadow: 1px black;
  }
  
  .video {
    width: auto;
    height: 510px;
  }
  
  .box {
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 2px 18px 0 rgba(170, 170, 170, 0.5);
    padding: 15px 18px;
    margin: 10px auto;
  }
  
  .loading,
  .login,
  .dashboard {
    display: none;
  }
  
  .loading {
    background: url(../img/loading.gif) no-repeat;
    background-position: 50%;
    background-size: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  
  .state--loading .loading {
    display: block;
  }
  
  .state--login .login {
    display: block;
  }
  
  .state--dashboard .dashboard {
    display: block;
  }
  
  .login {
    margin: 100px auto;
  }
  
  .login .link {
    background: #448cb5;
    border-radius: 20px;
    color: #fff;
    display: block;
    padding: 10px;
    margin: 25px 0;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    transition: background 250ms ease-in-out;
  }
  
  .login .link:hover {
    background: #326684;
  }
  
  .summary__wallet {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 12px;
    margin-bottom: 12px;
    clear: both;
    overflow: hidden;
  }
  
  .dashboard-link {
    text-decoration: none;
    color: black;
  }
  
  .g8-icon {
    position: relative;
    top: 3px;
  }
  
  .wallet__balance {
    font-size: 16px;
    float: left;
  }
  
  .wallet__label {
    font-size: 15px;
    float: right;
    text-align: right;
    position: relative;
    top: 5px;
  }
  
  .summary__links {
    clear: both;
    overflow: hidden;
  }
  
  .summary__link {
    text-decoration: none;
    color: #0a090a;
    font-size: 13px;
    padding: 8px 0;
  }
  
  .summary__link img {
    vertical-align: middle;
  }
  
  .summary__link--preferences {
    float: left;
    border-right: 1px solid #ebebeb;
    padding-right: 11px;
  }
  
  .summary__link--marketplace {
    float: right;
  }
  
  .controls {
    font-size: 13px;
    transition: background 200ms ease-in-out;
  }
  
  .state--paused .controls {
    background: repeating-linear-gradient(
      45deg,
      #fff,
      #fff 10px,
      #f7f7f7 10px,
      #f7f7f7 20px
    );
  }
  
  .control--pause {
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 12px;
  }
  
  .control--pause input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
  }
  
  .pause-icon {
    display: inline-block;
    width: 0;
    height: 12px;
    cursor: pointer;
    border-color: transparent transparent transparent #9a9a9a;
    transition: 100ms all ease;
    will-change: border-width;
    border-style: double;
    border-width: 0 0 0 10px;
    margin-left: 7px;
    margin-right: 11px;
    vertical-align: middle;
  }
  
  .control--pause input:disabled + label,
  .control--pause input:disabled + label .pause-icon {
    cursor: default;
  }
  
  .control--pause input {
    visibility: hidden;
  }
  
  .control--pause input:checked + label .pause-icon {
    border-style: solid;
    border-width: 5px 0 5px 10px;
  }
  
  .control--pause .label:before {
    content: attr(data-pause);
  }
  
  .control--pause input:checked + label .label:before {
    content: attr(data-resume);
  }
  
  .control--pause label {
    cursor: pointer;
  }
  
  .control--pause input:disabled + label {
    color: gray;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 32.5px;
    height: 21px;
    right: 1px;
    bottom: 1px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .control--off label {
    cursor: pointer;
    position: relative;
    top: 4px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 1px;
    right: 3px;
    bottom: 1px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 49px;
  }
  
  .slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    top: 1.5px;
    left: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch input:checked+.slider {
    background-color: #ff5d5d;
  }
  
  .switch input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .switch input:checked+.slider:before {
    -webkit-transform: translateX(230px);
    -ms-transform: translateX(23px);
    transform: translateX(10px);
  }
  
  .refer__heading {
    margin-bottom: 5px;
    font-size: 15px;
  }
  
  .refer__link {
    border: 0;
    background: #efefef;
    padding: 2px 5px;
    font-size: 13px;
  }
  
  .refer__button {
    background: none;
    border: 2px solid #448cb5;
    border-radius: 10px;
    font-size: 13px;
    padding: 1px 10px;
    float: right;
  }
  
  .tabs-promo {
    text-align: center;
  }
  
  .tabs-promo a {
    text-decoration: none;
    color: #f62e60;
  }
  
  .tabs-promo p {
    margin: 0 0 0.5rem;
  }
  
  .tabs-promo span {
    display: inline-block;
    background: #f62e60;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
    margin-top: 0.5rem;
  }
  